<header class="container">
  <div class="header-wrapper">
    <a class="header-logo" href="../index.html">
      <img src="../images/header-logo/header-logo.svg" alt="" /></a>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item"><a class="header-link" href="">главная</a></li>
        <li class="header-item"><a class="header-link" href="">галерея</a></li>
        <li class="header-item"><a class="header-link" href="">проекты</a></li>
        <li class="header-item"><a class="header-link" href="">сертификаты</a></li>
        <li class="header-item"><a class="header-link" href="">контакты</a></li>
      </ul>
    </nav>
  </div>
</header>